<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505083670268-qdv1d253ttpk68edi0ede1bc45igfuu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505083670268-qdv1d253ttpk68edi0ede1bc45igfuu7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>505083670268-ds4khl4eqta58iqju7r9h36qcmnpgkm0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBARzf0C5erqStnJaO3HZu5HKY-pq9VNPc</string>
	<key>GCM_SENDER_ID</key>
	<string>505083670268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saharaEms</string>
	<key>PROJECT_ID</key>
	<string>sahara-ems</string>
	<key>STORAGE_BUCKET</key>
	<string>sahara-ems.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505083670268:ios:1c90f858570d91f7d5b179</string>
	<key>DATABASE_URL</key>
	<string>https://sahara-ems-default-rtdb.firebaseio.com</string>
</dict>
</plist>